@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('search.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;

  --primary-1: #776ad4;
  --primary-2: #5648c2;
  --primary-3: #1f194c;
  --primary-4: #5a4c96;
  
  --neutral-0: #000;
  --neutral-1: #2f324d;
  --neutral-2: #fff;
}

body {
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--primary-1);

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 2rem;
  color: var(--primary-2);
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

main {
  background-color: var(--neutral-2);
  box-shadow: 0 .5rem 1rem rgba(26, 20, 66, 0.1);  

  width: 50vw;
  padding: 4rem;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

#message {
  margin-top: 1rem;
}

.word {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.word #word-title {
  font-size: 3rem;
  color: var(--primary-3);
}

.word #audio-btn {
  color: var(--primary-1);
  font-size: 2.1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.phonetic {
  display: flex;
  gap: .5rem;
  margin: .2rem 0 1.5rem;
  color: var(--primary-4);
}

.meaning {
  border-radius: .8rem;
  padding: 2rem 1.5rem 3rem;
  background-color: #f6f1ff;
}

.meaning #category {
  font-weight: 700;
  font-size: 2rem;
}

.meaning #definition {
  color: var(--neutral-1);
  margin: 1rem 0 2rem;
}

.meaning #example {
  color: var(--primary-4);
  font-style: italic;
  border-left: .5rem solid var(--primary-1);
  padding-left: 2rem;
}

.hide {
  display: none;
}