@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(i){
  font-family: 'Poppins', sans-serif;
}

:root {
  font-size: 62.5%;

  --primary-1: #776ad4;
  --primary-2: #5648c2;
  --primary-3: #1f194c;
  --primary-4: #5a4c96;
  
  --neutral-0: #000;
  --neutral-1: #2f324d;
  --neutral-2: #fff;
}

body {
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--primary-1);

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: var(--neutral-2);
  box-shadow: 0 .5rem 1rem rgba(26, 20, 66, 0.1);  

  width: 70vw;
  padding: 8rem 5rem;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.clean-style {
  border: none;
  outline: none;
  background-color: transparent;
}

.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-wrapper input {
  padding: .5rem;
  width: 70%;
  border-bottom: .3rem solid var(--primary-1);
  font-size: 1.8rem;
}

.search-wrapper input::placeholder {
  color: var(--primary-2);
}

.search-wrapper input:focus {
  border-bottom:.3rem solid var(--primary-2);
}

.search-wrapper button {
  padding: .5rem 0;
  border-radius: .5rem;
  width: 25%;
  background-color: var(--primary-1) !important;
  color: var(--neutral-2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.search-wrapper button:hover {
  background-color: var(--primary-2) !important;
}

.word {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}

.word h3 {
  font-size: 3rem;
  color: var(--primary-3);
}

.word button {
  color: var(--primary-1);
  font-size: 2.1rem;
  cursor: pointer;
}

.phonetic {
  display: flex;
  gap: .5rem;
  margin: 1rem 0;
  color: var(--primary-4);
}

.source {
  display: flex;
  gap: .5rem;
  margin:.5rem 0 2rem;
  color: var(--neutral-1);
}

.meaning #category {
  font-weight: 700;
  font-size: 2rem;
}

.meaning #definition {
  color: var(--neutral-1);
  margin: 1rem 0 2rem;
}

.meaning #example {
  color: var(--primary-4);
  font-style: italic;
  border-left: .5rem solid var(--primary-1);
  padding-left: 2rem;
}